<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{deletar}}" method="post">{% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="menssagens">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <label for="sim">Sim</label>
        <input type="checkbox" name="sim" id="sim" onclick="vai(this)">
        <label for="nao">Não</label>
        <input type="checkbox" name="nao" id="nao" onclick="vai(this)">
        <input type="submit" value="Submit">
    </form>
    <script>
        function vai(x){
            if(x.name == 'sim'){
                document.querySelector('input[name="nao"]').checked = false
            } else {
                document.querySelector('input[name="sim"]').checked = false   
            }
        }
    </script>
</body>
</html>